@model IEnumerable<Shopping.App.Models.ProductModel>
 
@{
    ViewData["Title"] = "Home Page";
}

<h1>Products - Running in k8s</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => product.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => product.ModelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => product.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => product.Category)
                </td>
            </tr>
        }
    </tbody>
</table>
